<ion-content [fullscreen]="true">
  
  <ion-content class="blue-background">
    <ion-img class="img" src="assets/childre.jpg" />
    <ion-grid>
      <ion-row class="space-between-buttons">
        <ion-col size="12" class="button-container">
          <ion-button [routerLink] = "['/signup']">Get Started</ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12" class="button-container">
          <ion-button [routerLink] = "['/login']">Already have an account</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
