.button-container {
    display: flex;
    justify-content: center;
  }

  .space-between-buttons {
    margin-top: 100px; /* Ajoutez la marge désirée entre l'image et les boutons */
  }

  .input{
    font-size: 300;
  }

ion-item{
  --background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 16px;
}

.header{
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  .subTitle{
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
  }

  title{
    font-size: 2rem;
  }

}

.signupLink{
  display: flex;
  margin: auto;
  flex-direction:row ;
  align-content: center;
  justify-content: center;
  width: 80%;
  
  

  p{
    font-size: 0.9rem;
  }
  a{
    text-decoration: none;
  }
}


.blue-background {
  --background: #36abe0 !important;
}