<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Enter your email <p class="subTitle">To recieve a reset password link</p></ion-title>
  </div>
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input type="text" placeholder="Enter your email" class="input"></ion-input>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
</div>

  
  </form>

    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row class="space-between-buttons">
          <ion-col size="12" class="button-container">
            <ion-button   [routerLink] = "['/login']">Reset</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
</ion-content>
